# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_OTG_LEFT
	def_bool $(shields_list_contains,otg_left)

config SHIELD_OTG_RIGHT
	def_bool $(shields_list_contains,otg_right)
