/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {

	keymap {
		compatible = "zmk,keymap";

		// This is a sample keymap intended to be replaced with your own
		base_layer {
			bindings = <
				&kp V     &kp G     &kp D     &kp L     &kp Q     &kp Z     &kp U     &kp O     &kp Y     &kp B
				&kp N     &kp S     &kp T     &kp H     &kp DOT   &kp COMMA &kp A     &kp E     &kp I     &kp C
				&kp P     &kp F     &kp M     &kp R     &kp SLASH &kp APOS  &kp K     &kp J     &kp X     &kp W
				                    &kp ESC   &kp SPC   &kp TAB   &kp ENTER &kp BSPC  &kp DEL
			>;
		};

	};
};
